.edit-modal{
    display: flex;
    flex-direction: column;
}

.edit-modal > button{
    position: relative;
    border: none;
    border-radius:1rem;
    bottom: 8px;
    background-color: transparent;
}

.edit-modal > button:hover{
    background-color: #333333;
    transition: background 250ms ease-in-out;
    cursor: pointer;
    color: white;
}