.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}

.app-title{
    font-size: 1.5rem;
    margin: .5rem;
    color: white;
}

.post-button{
    list-style: none;
    color: white;
}

.profile-dropdown{
    list-style: none;
}

.profile-dropdown > li:hover,
.user-name:hover,
.post-button:hover {
    color: grey;
}

.user-name{
    color: white;
}

.nav-links > button{
    height: 1.5rem;
    width: 2rem;
    margin-right: .5rem;
    border-radius: .625rem;
}

.navlist-container{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-links{
    list-style: none;
}

.nav-button{
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.nav-links:hover{
    background-color: #555;
}

.nav-links > i,
.nav-links > button{
    text-decoration: none;
    border: 1px solid white;
}
