.login-modal-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 1rem;
}

.modal-title{
    margin-top: 1rem;
}

.modal-button{
    margin: .3rem;
    display: inline-block;
    border: none;
    text-align: center;
}

#modal-content{
    border-radius: .625rem;
}

.modal-button{
    background-color: lightgrey;
    border-radius: .3rem;
}

.modal-button:hover{
    background-color: grey;
}

/* .login-button{
    background-color: #333;
    border-radius: .25rem;
    width: 4rem;
    height: 2.5rem;
    color: white;
}

.login-button:hover{
    background-color: black;
} */


.nav-button{
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.nav-button:hover{
    background-color: #555;
    border-radius: 5px;
}

.navbar-links{
    margin-right: 1rem;
}

